<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-primary ">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">

        <div class="row">
            

            
        </div>

        
    </div>

    <p>content</p>
    {% block content %}

    {% endblock %}
    <p>end content</p>

    
</body>

</html>